.icon{
  background-image: url(../img/icons.png);
  //background-repeat: no-repeat;
  background-position-x: 144px;

  &--russian{
    background-position-y: 990px;
  }
  &--english{
    background-position-y: 1043px;
  }
  &--espanol{
    background-position-y: 1017px;
  }
  &--location{
    background-position-y: 947px;
  }

  &--area{
    background-position-y: -18px;
  }
  &--bathroom{
    background-position-y: -62px;
  }
  &--bedroom{
    background-position-y: -166px;
  }
  &--sea{
    background-position-y: -1125px;

  }
}
